@using Newtonsoft.Json.Linq
@model MobileConnect.Processors.SiAuthorize.MobileConnectSiAuthorizeResult

@{
    Layout = null;
}

<div>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p class="bg-danger">@Model.ErrorMessage</p>
    }
</div>
<div>
    @if (Model.DiscoveryResponse != null)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Discovery Response</h3>
            </div>
            <div class="panel-body">
                <pre style="max-height: 500px;">@JToken.Parse(Model.DiscoveryResponse.JsonString).ToString(Newtonsoft.Json.Formatting.Indented)</pre>
            </div>
        </div>
    }

    @if (Model.OpenIdConfigurationResponse != null)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">OpenId Configuration Response</h3>
            </div>
            <div class="panel-body">
                <pre style="max-height: 500px;">@JToken.Parse(Model.OpenIdConfigurationResponse.JsonString).ToString(Newtonsoft.Json.Formatting.Indented)</pre>
            </div>
        </div>
    }

    @if (Model.SiAuthorizeResponse != null)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">SI Authorize Response</h3>
            </div>
            <div class="panel-body">
                <pre style="max-height: 500px;">@JToken.Parse(Model.SiAuthorizeResponse.JsonString).ToString(Newtonsoft.Json.Formatting.Indented)</pre>
            </div>
        </div>
    }
</div>