@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="mobileConnect" style="padding: 50px;">
    <div class="col-md-4">
        <div id="mobileConnectAuthSetup">
            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber">
            </div>
            <div class="form-group">
                <label for="redirectUrl">Redirect URL</label>
                <input type="text" class="form-control" name="redirectUrl" id="redirectUrl">
            </div>
            <div class="form-group">
                <label for="discoveryUrl">Discovery Url</label>
                <input type="text" class="form-control" name="discoveryUrl" id="discoveryUrl">
            </div>
            <div class="form-group">
                <label for="discoveryClientId">Discovery ClientId</label>
                <input type="text" class="form-control" name="discoveryClientId" id="discoveryClientId">
            </div>
            <div class="form-group">
                <label for="discoveryPassword">Discovery Password</label>
                <input type="text" class="form-control" name="discoveryPassword" id="discoveryPassword">
            </div>

            <button class="btn btn-default" id="mobileConnectAuthSubmit">Submit</button>
        </div>
    </div>
    <div class="col-md-8">
        <div id="mobileConnectAuthResult">

        </div>
    </div>
</div>

@section scripts {
    <script src="/Scripts/App/mobile-connect-js.js"></script>
}